.box-opener {
    padding: 5px;
    display: inline-block;
    z-index: 1;
    text-align: center;
    width: 100%;
}

.closeleft {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 20px;
}

.color {
    display: inline-block;
    cursor: pointer;
    margin: 2px;
    height: 48px;
    width: 48px;
}

.pickColor {
    display: inline-block;
    height: 12px;
    width: 12px;
}

.menu-item {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}