<div style="text-align: center; padding: 20px;">
    <img style="width: 150px;
  height: 150px;" src="assets/img/magicboard_logo.png">
    <h2><p style="font-family: 'Montserrat-Black';">Magic-board:Whiteboard</p></h2>
</div>

<section class="container">
    <div class="box" (click)="openDialog('Student')">
        <h1>Student</h1>
        <img style="width: 250px;
        height: 250px;" src="assets/stud.png">
    </div>
    <div class="box" (click)="openDialog('Teacher')">
        <h1>Teacher</h1>
        <img style="width: 250px;
        height: 250px;" src="assets/teachhh.png">
    </div>
</section>