.box-opener {
    cursor: pointer;
    position: absolute;
    padding: 20px;
    display: inline-block;
    z-index: 1;
}

.left {
    left: 0px;
    z-index: 1;
    position: absolute;
    background-color: #FFCC55;
    height: 100%;
    max-width: 0px;
    overflow-y: auto;
    transition: ease-in-out 400ms max-width;
}

.left.opened {
    z-index: 1;
    position: absolute;
    height: 100%;
    max-width: 240px;
    transition: ease-in-out 600ms max-width;
}

.layout {
    position: absolute;
}

.right {
    position: absolute;
    right: 0px;
}