.box-openerLeft {
    cursor: pointer;
    position: absolute;
    padding: 20px;
    display: inline-block;
    z-index: 1;
}

.box-openerRight {
    cursor: pointer;
    position: absolute;
    right: 0px;
    padding: 20px;
    display: inline-flex;
    z-index: 1;
}

.box-openerRightBottom {
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 20px;
    display: inline-flex;
    z-index: 1;
}

.left {
    left: 0px;
    z-index: 1;
    position: absolute;
    background-color: #E69138;
    height: 100%;
    max-width: 0px;
    overflow-y: auto;
    transition: ease-in-out 400ms max-width;
}

.left.opened {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 240px;
    max-width: 240px;
    transition: ease-in-out 600ms max-width;
}

.layout {
    position: absolute;
}

.right {
    position: absolute;
    right: 0px;
    z-index: 1;
    background-color: #E69138;
    height: 100%;
    max-width: 0px;
    overflow-y: auto;
    transition: ease-in-out 400ms max-width;
}

.right.opened {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 240px;
    max-width: 240px;
    transition: ease-in-out 600ms max-width;
}

.rightchatbox {
    position: absolute;
    right: 0px;
    z-index: 1;
    background-color: #E69138;
    height: 100%;
    max-width: 0px;
    overflow-y: auto;
    transition: ease-in-out 400ms max-width;
}

.rightchatbox.opened {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 300px;
    max-width: 300px;
    transition: ease-in-out 400ms max-width;
}