<div class="box-openerLeft" (click)="toggleLeft()">
    <mat-icon>settings_applications</mat-icon>
    <mat-icon>undo</mat-icon>
    <mat-icon>redo</mat-icon>
</div>

<div class="box-openerRight" *ngIf="position==='Teacher'" (click)="toggleRight()">
    <mat-icon>settings_applications</mat-icon>
</div>

<app-left-nav class="left" [class.opened]="showLeft">
</app-left-nav>

<app-layout></app-layout>

<app-right-nav class="right" [class.opened]="showRight"></app-right-nav>

<app-upload-view></app-upload-view>