/* You can add global styles to this file, and also import other style files */

@import "assets/css/font-material_icons.css";
@import "assets/css/font-roboto_300_400_500.css";
@import "assets/css/font-montserrat.css";

/**
 * Fix user-agent
 */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat-Medium'; }
